.attribution {
  position: fixed;
  bottom: 0;
}
html {
  background-color: hsl(47, 88%, 63%);
}
* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Figtree", sans-serif;
  font-size: 14px;
  color: hsl(0, 0%, 7%);
}
.photo img {
  height: auto;
  width: 100%;
  border-radius: 6px;
}
.big {
  background-color: white;
  max-width: 280px;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid black;
  box-shadow: 6px 6px 0 black;
}
.Learning {
  padding: 2px;
  background-color: hsl(47, 88%, 63%);
  border-radius: 5px;
}
.cooper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.cooper img {
  width: 20px;
}
.big h1,
.big p,
.big span {
  margin: 0;
}
.big span:last-child img {
  margin-right: 8px;
}

.big span:last-child {
  font-weight: 800;
  font-size: 14px;
  color: hsl(0, 0%, 7%);
}
